<title>My application</title>
    <h1>Hello, World!</h1>
    <h2>Anagram: Harflerin sırası karışık olsa da aynı harflerden eşit sayıda içeren harf çiftleridir.<h2>
    <h3>Aşağıda gerekli alanlara kelimeleri tahminleri ve büyük ve küçük harfe duyarlı olup olmadığını giriniz ve kaç kişi doğru tahmin yaptı sonucu görünüz.<h3>
    <h3>---İlk alana ilk kelime dizisini alt alta giriniz.<h3S>
    <h3>---İkinci alana ikinci kelime dizisini alt alta giriniz. <h3>
    <h3>---Üçüncü alana tahmin sayısını , ile ayırarak giriniz.<h3>
    <h3>---Dördüncü alana True veya False giriniz.<h3>
        Result is {{result}}
<form action="compute" method="post">
    <textarea id="words1Input" textarea name="words1Input" rows="10" cols="20"></textarea>
    <textarea id="words2Input" textarea name="words2Input" rows="10" cols="20"></textarea>
    <textarea id="guessesInput" textarea name="guessesInput" rows="10" cols="20"></textarea>
    <textarea id="isAnagramCaseSensitiveInput" textarea name="isAnagramCaseSensitiveInput" rows="10" cols="20"></textarea>
    <br>
    <input type="submit">
</form>