<title>My application</title>
    <h1>Hello, World!</h1>
        Result is {{result}}
<form action="compute" method="post">
    <textarea name="words1Input" rows="10" cols="30"></textarea>
    <textarea name="words2Input" rows="10" cols="30"></textarea>
    <textarea name="guessesString" rows="10" cols="30"></textarea>
    <textarea name="isAnagramCaseSensitiveInput" rows="10" cols="30"></textarea>
    <br>
    <input type="submit">
</form>